{% extends 'base.html' %} #extends inherits
{% block title %}index{% endblock %}


{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">inventory home page</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
     <div class="container" align="left">
			<embed type="image/svg+xml" src={{pie_type|safe}} style='max-width:1000px'/>
	  </div>
        </div>
     <div class="container" align="right">
			<embed type="image/svg+xml" src={{line_chart|safe}} style='max-width:1000px'/>
	  </div>

{% endblock %}











